@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-snpro);
}

@theme {
  --breakpoint-sm: 300px;
  --breakpoint-xs: 30rem;
  --breakpoint-2xl: 100rem;
  --breakpoint-3xl: 120rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #0a0a0a;
  }
}

html {
  scroll-behavior: smooth;
}

::selection {
  background-color: #b72b3941;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-snpro) !important;
}

.swiper-pagination-bullet-active{
  background: #b72b3a!important;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #b72b3a;
}